html, body {
    height: 100% !important;
}
.mainSvg {
    pointer-events: all;
}
.container-fluid {
    height: 100% ;
}
.marginTop10 {
    margin-top: 10px;
}
.graphData {
    color : white;
    margin-right: 20px;
}

.listMiddle {
    display: block;
    margin: 0px auto;
    height: 70px;
    padding: 20px 0;
    align-content: center;
}
.borderBottom {
    border-bottom: 1px solid white;
}
.graphView {
    background-color: #496387;
    border-radius: 5px;
}
.graphView h2 {
    color: #CDC966;
    border-bottom: 3px solid #7186A4;
    padding-bottom: 10px;
}
.graphWindow {
    background-color: white;
    height: 80%;
}
.leftMenu {
    background-color: #061A37;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.logoTitle {
    font-size: 20px;
    margin-top: 10px;
    color:white ;
    float: left;
}
.logoImage {
    margin-left: 10px;
    margin-top: 5px;
}
.logoSection {
    margin-top: 10px;
    padding-bottom: 10px;
}
.mainSection {
    background-color: white;
}
.searchLabel {
    font-size: x-large;
    margin-right: 10px;
}
#searchInput {
    width: 60%;
    margin-top: 10px;
    background-color: rgba(113,134,164, 0.2) ;
}
.menuList {
    margin-top: 20px;
}
.menuList a {
    color: white;
    text-align: center;
    text-decoration: none;
}
.searchSection {
    border-bottom: 3px solid #061A37;
    padding-bottom: 10px;
}
.btnSearchInput {
    width: 10%;
}
.menuList li {
}

.menuList li :hover {
   background-color: #7186A4;
    color: #061A37;
}


.activeLi {
    background-color: white;
    color: #061A37 !important;
}
/* As hex codes */

.color-primary-0 { color: #2C476D }	/* Main Primary color */
.color-primary-1 { color: #7186A4 }
.color-primary-2 { color: #496387 }
.color-primary-3 { color: #152F53 }
.color-primary-4 { color: #061A37 }

.color-secondary-1-0 { color: #A6A139 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #F9F5A5 }
.color-secondary-1-2 { color: #CDC966 }
.color-secondary-1-3 { color: #7E7A18 }
.color-secondary-1-4 { color: #545001 }

.color-secondary-2-0 { color: #9D3546 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #EB9CA8 }
.color-secondary-2-2 { color: #C26070 }
.color-secondary-2-3 { color: #771626 }
.color-secondary-2-4 { color: #4F010E }