
<div ng-include="'app/components/searchBar/searchBar.html'"></div>

<div class="graphView col-md-12 marginTop10" ng-controller="graphController">
    <h2 class="marginTop10 col-md-12 "><i class="fa fa-codepen" aria-hidden="true"></i> {{graphViewTitle}}</h2>
    <div class="graphWindow col-md-12">
        <graph-view d3-links="createdLinks" d3-nodes="createdNodes"> </graph-view>

    </div>
    <div>
    <span class="graphData">Nodes : {{nodeCounts}} </span>
    <span class="graphData"> Edges : {{linkCounts}}</span>
    </div>
    <div class="marginTop10">
        <span class="graphData">Current Node Name :  </span>
        <span id="nodeName" class="graphData"></span>
    </div>
</div>


