
<div class="col-md-12 marginTop10" ng-controller="searchTechsCtrl">

    <fieldset class="searchTech ">
        <legend>Search Technology Graph</legend>
        <ul class="input-list style-1 col-md-6 col-md-offset-3">
            <li class="listStyle" ng-repeat="item in inputs">
                <label class="labelInline" for="1">Tech Name:</label>
                <input id="1" type="text" ng-model="itemValue[$index]">
            </li>
            <button class="btn btn-success btn-lg marginTop10" ng-click="searchGraph('/searchTechs/second')">Search Graph</button>

        </ul>
        <label class="labelInline" for="threshHold">Thresh hold:</label>
        <input id="threshHold" type="text" ng-model="threshHold">
        <label class="labelInline" for="traverseDepth">traverse Depth:</label>
        <input id="traverseDepth" type="text" ng-model="traverseDepth">
        <button class="btn btn-success marginTop10" ng-click="addField()">Add input</button>
        <button class="btn btn-danger marginTop10" href="#/second" ng-click="deleteField()">Delete input</button>

    </fieldset>
</div>
