
<div ng-include="'app/components/searchBar/searchBar.html'"></div>


<div class=" col-md-12 marginTop10" ng-controller="graphTableController">

    <!--<div class="graphWindow col-md-12">-->
        <div class="panel panel-primary graphTable">
            <div class="panel-heading">
                <h2 ><i class="fa fa-table" aria-hidden="true"> {{graphTableTitle}}</i>
                </h2>
                <span class="pull-right">
                </span>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label >Search</label>
                        <input type="text" ng-model="searchTable" class="form-control" placeholder="Search">
                    </div>
                </form>            </div>
            <table class="table table-hover" id="dev-table" >
                <thead class="tableHeader">
                <tr>
                    <th class="dataCenter" >#
                    </th>
                    <th class="dataCenter">Node Names
                    </th>
                    <th class="dataCenter" >ID
                    </th>
                    <th class="dataCenter" >type
                    </th>
                    <th class="dataCenter" >version
                    </th>
                    <th class="dataCenter">class
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="node in createdNodes |filter :searchTable|itemsPerPage:10" current-page="currentPage"  class="listBackground" ng-class="{'oddBackground' : $even}">
                    <td class="dataCenter" >{{ ($index + 1) + (currentPage - 1) * 10}}</td>
                    <td class="dataCenter">{{node.title}}</td>
                    <td class="dataCenter">{{node.id}}</td>
                    <td class="dataCenter">{{node.type}}</td>
                    <td class="dataCenter">{{node.version}}</td>
                    <td class="dataCenter">{{node.class}}</td>
                </tr>

                </tbody>

            </table>
            <div class="col-md-4 col-md-offset-4">
            <dir-pagination-controls class="tablePageNumber"
                    max-size="10"
                    direction-links="true"
                    boundary-links="true">
            </dir-pagination-controls>
            </div>
        </div>
    </div>

<!--</div>-->