<!DOCTYPE html>
<html lang="en" ng-app="techMiningGraph" ng-controller="mainCtrl">

<link rel="icon" type="image/png" href="assets/images/logo%20copy.png">
<!--   ***** styles  ***** -->

<!-- libraries -->
<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">

<!-- custom styles -->
<link rel="stylesheet" href="assets/css/base.css">
<link rel="stylesheet" href="assets/css/custom.css">
<link rel="stylesheet" href="vendor/font/font-awesome-4.7.0/css/font-awesome.min.css">



<!--   ***** scripts  ***** -->



<!-- libraries -->

<script src="app/bower_components/angular/angular.min.js"></script>
<script src="app/bower_components/angular-route/angular-route.min.js"></script>
<script src="vendor/js/jquery/dist/jquery.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/js/d3.min.js"></script>
<script src="app/bower_components/angularUtils-pagination/dirPagination.js"></script>



<!-- angular application code -->

<script src="app/app.js"></script>
<script src="app/config.js"></script>

<!--  directives -->

<script src="app/directives/graphViewDirective.js"></script>

<!-- controllers -->

<script src="app/mainController.js"></script>
<script src="app/components/searchBar/searchBarController.js"></script>
<script src="app/components/GraphView/graphController.js"></script>
<script src="app/components/GraphTable/graphTableController.js"></script>
<script src="app/components/searchTechs/firstPage/searchTechsController.js"></script>
<script src="app/components/searchTechs/secondPage/searchedTechsViewController.js"></script>

<!-- services -->
<script src="app/services/httpRequestToServer.js"></script>
<script src="app/services/createD3Node.js"></script>
<script src="app/services/createD3Link.js"></script>
<script src="app/services/dataFormCtrlFunc.js"></script>
<script src="app/services/graphCtrlDataFunc.js"></script>




<!-- route -->

<script src="app/routes.js"></script>

<!-- custom -->
<script src="assets/js/scripts.js"></script>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

</head>
<body >

<div class="container-fluid">



    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 leftMenu">
            <div class="row borderBottom logoSection">
                    <img class="logoImage col-md-3" src="assets/images/logo.png"/>
                    <h3 class="logoTitle col-md-8">{{title}}</h3>
            </div>
            <div class="row">
                <div class="menuList">
                    <ul>
                        <li ng-repeat="item in items" ng-click="changeSate(item)"><a href="{{item.href}}" ng-class="{'activeLi' : (item.id == activeItem)  }"   class="listMiddle"><div class="{{item.icon}}"></div>  {{item.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 mainSection">
            <div ng-view >

            </div>

        </div>
    </div>


</div>






</body>
</html>